# Images
DOCUMENT_CENTER_BACKEND_IMAGE=ccr.ccs.tencentyun.com/baron/doc-editor-backend:latest
DOCUMENT_CENTER_FRONTEND_IMAGE=ccr.ccs.tencentyun.com/baron/doc-editor-frontend:latest
DOCUMENT_CENTER_MYSQL_IMAGE=ccr.ccs.tencentyun.com/baron/doc-editor-mysql:8.0.33
DOCUMENT_CENTER_MINIO_IMAGE=ccr.ccs.tencentyun.com/baron/doc-editor-minio:RELEASE.2025-09-07T16-13-09Z

# Database
MYSQL_DATABASE=document_center
MYSQL_USERNAME=root
MYSQL_ROOT_PASSWORD=change-me

# MinIO
MINIO_ROOT_USER=document-center
MINIO_ROOT_PASSWORD=change-me
MINIO_REGION=us-east-1
MINIO_BUCKET=document-center

# Public HTTP port
DOCUMENT_CENTER_HTTP_PORT=80
